NET "button" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;
NET "button2" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "button3" LOC = P75 | IOSTANDARD = LVTTL | PULLUP;
NET "high10" LOC = P1 | IOSTANDARD = LVTTL; 
NET "high9" LOC = P5 | IOSTANDARD = LVTTL;
NET "high8" LOC = P7 | IOSTANDARD = LVTTL;
NET "high7" LOC = P9 | IOSTANDARD = LVTTL;
NET "high6" LOC = P11 | IOSTANDARD = LVTTL;
NET "high5" LOC = P14 | IOSTANDARD = LVTTL;
NET "high4" LOC = P16 | IOSTANDARD = LVTTL;
NET "high3" LOC = P21 | IOSTANDARD = LVTTL;
NET "high2" LOC = P23 | IOSTANDARD = LVTTL;
NET "high1" LOC = P26 | IOSTANDARD = LVTTL;
NET "low1" LOC = P24 | IOSTANDARD = LVTTL;
NET "low2" LOC = P22 | IOSTANDARD = LVTTL;
NET "low3" LOC = P17 | IOSTANDARD = LVTTL;
NET "sev_seg_sel<3>" LOC = P185 | IOSTANDARD = LVTTL; 
NET "ext_sev_seg<0>" LOC = P112 | IOSTANDARD = LVTTL;
NET "ext_sev_seg<5>" LOC = P115 | IOSTANDARD = LVTTL;
NET "sev_seg_sel<2>" LOC = P117 | IOSTANDARD = LVTTL;
NET "sev_seg_sel<1>" LOC = P119 | IOSTANDARD = LVTTL;
NET "ext_sev_seg<1>" LOC = P121 | IOSTANDARD = LVTTL;
NET "ext_sev_seg<4>" LOC = P104 | IOSTANDARD = LVTTL;
NET "ext_sev_seg<3>" LOC = P111 | IOSTANDARD = LVTTL;
NET "ext_sev_seg<7>" LOC = P114 | IOSTANDARD = LVTTL;
NET "ext_sev_seg<2>" LOC = P116 | IOSTANDARD = LVTTL;
NET "ext_sev_seg<6>" LOC = P118 | IOSTANDARD = LVTTL;
NET "sev_seg_sel<0>" LOC = P120 | IOSTANDARD = LVTTL;